<div class="cont">
  <button mdl-button mdl-button-type="raised" mdl-colored="accent"  (click)="addCategory()">Dodaj kategorię</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent"  (click)="saveCategoryChanges()">Zapisz zmiany</button>
  <div *ngFor="let category of categories">
    <md-input-container >
      <input mdInput [(ngModel)]="category.name">
    </md-input-container>
    <button mdl-button mdl-button-type="mini-fab" mdl-colored="accent" (click)="deleteCategory(category)"><md-icon>delete</md-icon></button>
  </div>
</div>

