.toolbar {
  background-color: goldenrod;
  width: 100%;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: ridge;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btntoolbar {
  margin: 3px;
  background-color: snow;
  border-radius: 5px;
}

.btntoolbar::-moz-focus-inner {
  border: 0;
}

.btntoolbar:hover {
  background-color: #DDDDDD;
}

.menubutton {
  background-color: snow;
}

.menubutton:hover {
  background-color: #DDDDDD;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
}

.usermenu{
  margin-left: 5px;
  margin-right: 10px;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

md-input-container {
  margin-left: 3px;
  max-height: 42px;
  min-width: 297px;
}

