
<!--
<div class="toolbar" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
<div>
  <a routerLink="/" i class="material-icons">home</a>
  <button class="usermenu" md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
</div>
  <button class="btntoolbar" md-raised-button [mdMenuTriggerFor]="menu1">Kategorie</button>
  <md-menu *ngIf="categories" #menu1="mdMenu">
    <button class="menubutton"md-menu-item *ngFor="let category of categories">{{category.name}}</button>
  </md-menu>

  <button class="btntoolbar" md-raised-button [mdMenuTriggerFor]="menu2">Producenci</button>
  <md-menu #menu2="mdMenu">
    <button class="menubutton" md-menu-item *ngFor="let producer of producers">{{producer.name}}</button>
  </md-menu>
  <button class="btntoolbar" md-raised-button>Promocje</button>
  <button class="btntoolbar" md-raised-button>O nas</button>
  <button class="btntoolbar" md-raised-button>Kontakt</button>
  <button class="btntoolbar" md-raised-button>Zaloguj</button>

  <a class="btntoolbar" md-button routerLink="/registration" routerLinkActive="active">Zarejestuj</a>
<div>
    <md-input-container>
      <input mdInput placeholder="Szukaj...">
    </md-input-container>
  <a href="#"><i class="material-icons">search</i></a>
</div>
</div>
-->
