<div class="demo-layout mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header">
    <div class="mdl-layout__header-row">
      <mdl-layout-spacer></mdl-layout-spacer>
      <a href="#"><mdl-icon id="searchicon">search</mdl-icon></a>
      <mdl-textfield id="search" type="text" placeholder="Wyszukaj produkt..." autofocus autocomplete="name"></mdl-textfield>
      <nav class="mdl-navigation">
        <a routerLink="/" i class="material-icons" >home</a>
        <button  mdl-button #btn1="mdlButton" [mdl-toggle-menu]="m1" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
        <mdl-menu id="user" #m1="mdlMenu" mdl-menu-position="bottom-right">
          <mdl-menu-item mdl-ripple (click)="action()">Moje konto</mdl-menu-item>
          <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Ustawienia</mdl-menu-item>
          <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Koszyk</mdl-menu-item>
          <mdl-menu-item mdl-ripple>Wyloguj</mdl-menu-item>
        </mdl-menu>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <mdl-layout-title><label id="menulabel">Menu</label></mdl-layout-title>
    <nav class="mdl-navigation">
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple #btn2="mdlButton" [mdl-toggle-menu]="m2">Kategorie</button>
      <mdl-menu  #m2="mdlMenu" mdl-menu-position="bottom-left">
        <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider *ngFor="let category of categories">{{category.name}}</mdl-menu-item>
      </mdl-menu>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple #btn3="mdlButton" [mdl-toggle-menu]="m3">Producenci</button>
      <mdl-menu  #m3="mdlMenu" mdl-menu-position="bottom-left">
        <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider *ngFor="let producer of producers">{{producer.name}}</mdl-menu-item>
      </mdl-menu>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Promocje</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>O nas</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Kontakt</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Zaloguj</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple routerLink="/registration">Zarejestruj</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple
              routerLink="/admin">Panel administratora</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>






