.toolbar {
  padding: 2px;
  background-color: goldenrod;
  width: 100%;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: ridge;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btntoolbar {
  margin: 3px;
  min-width: 120px;
  background-color: snow;
  border-radius: 5px;
}

.btntoolbar::-moz-focus-inner {
  border: 0;
}

.btntoolbar:hover {
  background-color: #DDDDDD;
}

.menubutton {
  background-color: snow;
  margin: 0px;
}

.menubutton:hover {
  background-color: #DDDDDD;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
}

#inser {
  min-width: 350px;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
  border-radius: 5px;
}

.usermenu{
  margin-left: 5px;
  margin-right: 10px;
}

.contentcontainer{
  margin-top: 0px;
  padding-top: 20px;
  background-color: #888888;
}

.product {
  min-width: 250px;
  min-height: 310px;
  width: 250px;
  height: 310px;
  margin: 40px;
  box-shadow: 6px 6px 4px #888888;
  background-color: snow;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 50px;
  text-align: right;
}

.product img {

  max-width: 150px;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.product:hover {
  background-color: #DDDDDD;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
