<div class="containerX">
  <md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
      <section>
        section1
      </section>
      <section>
        section2
      </section>
      <section>
        section3
      </section>
    </md-sidenav>
  <div fxFlex>
    <md-toolbar>
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
      </button>
      <button md-button (click)="sidenav.open()">
        Open sidenav
      </button>
      <md-menu #appMenu="mdMenu">
        <button md-menu-item> Settings </button>
        <button md-menu-item> Help </button>
      </md-menu>


    </md-toolbar>
  </div>
  <div direction="row">
    <md-card>Simple card</md-card>
    <md-card>Simple card2</md-card>
    <md-card>Simple card</md-card>

  </div>
  </md-sidenav-container>
</div>

<div class="version">@angular/flex-layout (v2.0.0-beta.4)</div>
<categories></categories>

