.contentcontainer{
  background-color: transparent;
  padding-bottom: 20px;
}

.mdl-card {
  background-color: #DDDDDD;
  margin-top: 30px;
  width: 267px;
  max-width: 267px;
  min-width: 267px;
  border-radius: 7px;
  box-shadow: 7px 7px 15px #444444;
}

.mdl-card__media {
  background-color: #DDDDDD;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #999999;
  border-top: 1px solid  #999999;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.mdl-button{
  border-radius: 5px;
}

.mdl-card:hover .mdl-card__media {
  background:  #888888;
  box-shadow: inset 7px 7px 15px #444444;
  border-top: 1px solid #555555;
}

.mdl-card:hover .description {
  border-bottom: 1px solid #333333;
}

.buttons {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7px;
  margin-top: 7px;

}

p span {
  display: block;
}

p {
  display: table-cell;
  vertical-align: middle;
}

.description {
  border-bottom: 1px solid #999999;
  padding-left: 23px;
  padding-top:10px;
  padding-bottom: 10px;
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.mdl-card:hover, .mdl-card:focus, .mdl-card:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #607d8b;
}
