<div class="contentcontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

  <div class="demo-card-square mdl-card mdl-shadow--2dp" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
    <div class="mdl-card__title mdl-card--expand">
    </div>
    <div class="mdl-card__supporting-text">
      <b>100% Pure Whey</b><br>
      <b>Kategoria: </b>Białko <br>
      <b>Producent: </b>Olimp<br>
      <b>Cena: </b>79,99 zł<br>
    </div>
    <div class="mdl-card__actions mdl-card--border">

        <!-- Accent-colored raised button with ripple -->
        <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
          Szczegóły
        </button>

      <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
        Do koszyka
      </button>

    </div>
  </div>


<!--
  <md-card class="product" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
    <md-card-title>100% Pure Whey</md-card-title>
    <md-card-subtitle>
      <p><b>Kategoria:</b> Białko</p>
      <p><b>Producent:</b> Iron Horse</p>
      <p><b>Cena:</b> 81,99 zł</p>
    </md-card-subtitle>
    <img md-card-image src="http://www.next-level.pl/userdata/gfx/25a65255f1cd4e41aed97e3da18a6a7f.jpg"/>
  </md-card>

  <md-card class="product" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
    <md-card-title>100% Pure Whey</md-card-title>
    <md-card-subtitle>
      <p><b>Kategoria:</b> Białko</p>
      <p><b>Producent:</b> Iron Horse</p>
      <p><b>Cena:</b> 81,99 zł</p>
    </md-card-subtitle>
    <img md-card-image src="http://www.next-level.pl/userdata/gfx/25a65255f1cd4e41aed97e3da18a6a7f.jpg"/>
  </md-card>
  -->
</div>
