<div class="contentcontainer" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="10px" fxLayoutWrap fxLayoutAlign="space-around center">

  <div class="mdl-card" *ngFor="let productx of products">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">{{productx.productPackId.product.name}}</h3>
    </div>
    <div class="mdl-card__media">
      <img src="data:image/jpeg;base64,{{productx.image}}" width="180" height="180" border="0" alt="" style="padding:10px;">

    </div>
    <div class="description">
      <p>
        <span><b>Kategoria:</b> {{productx.productPackId.product.category.name}}</span>
        <span><b>Producent:</b> {{productx.productPackId.product.producer.name}}</span>
        <span><b>Cena:</b> {{productx.price}} zł</span>
        <span><b>Ilość:</b> {{productx.size}} {{productx.productPackId.pack.type}}</span>
      </p>
    </div>
    <div class="buttons">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Szczegóły
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Do koszyka
      </button>
    </div>
  </div>


  <!--
  <div class="mdl-card" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">100% Pure Whey</h3>
    </div>
    <div class="mdl-card__media">
      <img src="http://static.sscontent.com/products/453/okygen-sports_100-whey-protein-5lb-2268-g_1.png" width="200" height="160" border="0" alt="" style="padding:10px;">
    </div>
    <div class="description">
      <p>
        <span><b>Kategoria:</b> Białko</span>
        <span><b>Producent:</b> Iron Horse</span>
        <span><b>Cena:</b> 89,99zł</span>
        <span><b>Waga:</b> 1200g</span>
      </p>
    </div>
    <div class="buttons">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Szczegóły
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Do koszyka
      </button>
    </div>
  </div>

  <div class="mdl-card" *ngFor="let item of [0,1,2,3,4,5,6,7]">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">100% Pure Whey</h3>
    </div>
    <div class="mdl-card__media">
      <img src="https://sportowesuplementy.pl/upload/400/scitec_100_whey_protein_pro.png" width="200" height="160" border="0" alt=""
           style="padding:10px;">
    </div>
    <div class="description">
      <p>
        <span><b>Kategoria:</b> Białko</span>
        <span><b>Producent:</b> Iron Horse</span>
        <span><b>Cena:</b> 89,99zł</span>
        <span><b>Waga:</b> 1200g</span>
      </p>
    </div>
    <div class="buttons">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Szczegóły
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Do koszyka
      </button>
    </div>
  </div>
-->
</div>
