<div class="contentcontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start">

  <md-card class="product" *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
    <md-card-title>100% Pure Whey</md-card-title>
    <md-card-subtitle>
      <p><b>Kategoria:</b> Białko</p>
      <p><b>Producent:</b> Iron Horse</p>
      <p><b>Cena:</b> 81,99 zł</p>
    </md-card-subtitle>
    <img md-card-image src="http://www.next-level.pl/userdata/gfx/25a65255f1cd4e41aed97e3da18a6a7f.jpg"/>
  </md-card>

</div>
