<div class="tabs">
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun1()">Producenci</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun2()">Kategorie</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun3()">Produkty</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun4()">Smaki</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun5()">Zamówienia</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun6()">Dostawcy</button>
  <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="fun7()">Klienci</button>

</div>
  <router-outlet name="admcat"></router-outlet>


